section {
  color: black;
}




  body {
	background-color: rgba(235,170,181,1.00);
	color: #30E304;
	padding-left: 39%;
	padding-top: 23px;
	padding-right: 11px;
	padding-bottom: 17px;
	letter-spacing: normal;
}

nav {
	border-style: solid;
	background-color: #F6A2A2;
	padding-left: 0px;
	padding-right: 11%;
	color: #CCA10B;
	font-size: 149%;
	/* [disabled]font-weight: normal; */
	line-height: 310%;
	text-align: center;
	text-indent: -43%;
	text-shadow: 12% 13px #0CD034;
	background-image: -webkit-linear-gradient(270deg,rgba(226,255,17,1.00) 0%,rgba(244,224,224,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(226,255,17,1.00) 0%,rgba(244,224,224,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(226,255,17,1.00) 0%,rgba(244,224,224,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(226,255,17,1.00) 0%,rgba(244,224,224,1.00) 100%);
	padding-top: 0%;
	border-bottom-right-radius: 0px;
	-webkit-box-shadow: 10% 2% rgba(32,99,191,1.00);
	box-shadow: 10% 2% rgba(32,99,191,1.00);
	padding-bottom: 0px;
	top: -11%;
	border-color: #02A2FB;
	margin-bottom: 0%;
	margin-top: 39px;
	bottom: -5%;
	margin-left: -65px;
	margin-right: -272px;
}
body nav {
}
body nav {
}
