section {
  color: black;
}




  body {
	background-color: pink;
	color: #2E5F22;
}

nav {
	border-style: solid;
	background-color: #BDAAAB;
	padding-left: 30px;
	margin-left: 34px;
	padding-right: 1%;
	color: #110303;
	font-size: 149%;
	/* [disabled]font-weight: normal; */
	line-height: 310%;
	text-align: center;
	text-indent: -43%;
	text-decoration: none;
	text-shadow: 12% 13px #AA9B9C;
	max-width: none;
	background-image: -webkit-linear-gradient(270deg,rgba(65,25,26,1.00) 0%,rgba(115,32,32,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(65,25,26,1.00) 0%,rgba(115,32,32,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(65,25,26,1.00) 0%,rgba(115,32,32,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(65,25,26,1.00) 0%,rgba(115,32,32,1.00) 100%);
}
	
	


p {
font-size: 20px;
color: blue;

}







a {
	text-decoration: none;
	margin-left: 0%;
	margin-top: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	background-color: #454545;
	padding-left: 2%;
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
}
a:hover {
	-webkit-box-shadow: 0px 0px #DCCFCF;
	box-shadow: 0px 0px #DCCFCF;
	border-width: 0%;
	border-top-left-radius: 0px;
}
a:visited {
}
